html, body {
    margin: 0;
    padding: 0;
}

#nav {
    background-color: lightgray;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
}
header {
    float: left;
    color: black;
    margin: 0 10px;
}

#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color:black;
    text-align: center;
    border-top: 1px solid black;
}

/* landing page */

#landing-page-intro{
    background-image: url("https://images.unsplash.com/photo-1452860606245-08befc0ff44b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    height: 500px;
    width: cover;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 2%;
}

h1 {
    padding-top: 12%;
    font-size: 30px;
    color: white;
}

h2 {
    font-size: 35px;
    color: white;
}
 
 .text-block {
    width: 100%;
    background-color: white;
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 10%;
    border: 2px solid black;
  
 }


 .main-section {
    text-align: center;
    font: bold;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
 }

 .section {
    background-color: white;
    text-align: center;
    font: bold;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
 }

 .landing-img {
     height: 150px;
     width: 150px;
     margin-left: 10%;
     
 }
 

 .text-container {
     text-align: center;
     margin-left: 10%;
     margin-right: 10%;
     font-size: 20px;
 }

 #log-in {
     margin-bottom: 15%;
     background-color: lightgrey;
     border-radius: 5px;
     height: 10%;
     width: 25%;
     font-size: 20px;
 }
#register {
    margin-bottom: 10%;
     background-color: lightgrey;
     border-radius: 5px;
     height: 10%;
     width: 25%;
     font-size: 20px;
}

 /* login-page*/

 #login-page {
    background-color: rgba(105, 174, 178, 1);
    font-family: "Roboto", helvetica, sans-serif;
    padding: 60px 0 0;
    margin: 0;
    font-size: 18px;
  }
  
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  .login-form {
    width: 400px;
    padding: 40px;
    border-radius: 3px;
    background:white;
    margin: 0 auto;
  }
  
  .login-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
  }
  
  
  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
  }
  
  button[type="submit"] {
    height: auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    background: darkslategray;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
  }
  
  /*sign-up page*/

  #signup-page {
    background-color: rgba(105, 174, 178, 1);
    font-family: "Roboto", helvetica, sans-serif;
    padding: 60px 0 0;
    margin: 0;
    font-size: 18px;
  }
  
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  .signup-form {
    width: 400px;
    padding: 40px;
    border-radius: 3px;
    background:white;
    margin: 0 auto;
  }
  
  .signup-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
  }
  
  
  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
  }
  
  button[type="submit"] {
    height: auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    background:darkslategrey;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    .text-block {
        width:33.3%;
        background-color:white;
        padding:15px;
        display:inline-block;
        box-sizing: border-box;
        margin-right: -4px;
        border: 2px solid black;
    }
  }