/****************** BASE ******************/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/****************** COMMON ******************/

#nav {
  background-color: lightgray;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid black;
}
header {
  float: left;
  color: black;
  margin: 0 10px;
  font-size: 18px; 
  font-family: "Roboto", helvetica, sans-serif;
}

#log-out {
  float: right;

}
#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-top: 1px solid black;
}

/****************** LANDING PAGE ******************/

#landing-page-intro {
  background-image: url("https://images.unsplash.com/photo-1452860606245-08befc0ff44b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  height: 500px;
  width: cover;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 2%;
}

h1 {
  padding-top: 12%;
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 35px;
  color: white;
}

.text-block {
  width: 100%;
  background-color: white;
  padding: 15px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 10%;
  border: 2px solid black;
  min-height: 215px;
}

.main-section {
  text-align: center;
  font: bold;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.section {
  background-color: white;
  text-align: center;
  font: bold;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}

.landing-img {
  height: 100px;
  max-width: 200px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

#landing-img-1 {
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
#landing-img-2 {
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
#landing-img-3 {
  background-image: url("https://images.unsplash.com/photo-1515437689879-4dd6c1620d46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

.text-container {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}

#log-in {
  margin-bottom: 15%;
  background-color: lightgrey;
  border-radius: 5px;
  height: 10%;
  width: 25%;
  font-size: 20px;
}
#register {
  margin-bottom: 10%;
  background-color: lightgrey;
  border-radius: 5px;
  height: 10%;
  width: 25%;
  font-size: 20px;
}

/****************** LOGIN PAGE ******************/

#login-page {
  background-color: rgba(105, 174, 178, 1);
  font-family: "Roboto", helvetica, sans-serif;
  padding: 85px 0 0;
  margin: 0;
  font-size: 18px;
  height: 100%;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.login-form {
  width: 50%;
  padding: 40px;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
}

.login-form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  font-weight: 300;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 45px;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
}

button[type="submit"] {
  height: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: darkslategray;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
}

/****************** SIGNUP PAGE ******************/
#signup-page {
    background-color: rgba(105, 174, 178, 1);
    font-family: "Roboto", helvetica, sans-serif;
    padding: 85px 0 0;
    margin: 0;
    font-size: 18px;
    height: 100%;
   
  }
  
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
    
  }
  
  .signup-form {
    width: 40%;
    padding: 50px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
   
  }
  
  .signup-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
  }
  
  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
  }
  
  button[type="submit"] {
    height: auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    background: darkslategray;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
  }
  
      
/*******************projects page***********************/

h4 {
    text-align: center;
    font-size: 30px;
}

#project {
    float: right;
    margin-right: 10%;
}

#section1 {
    border-bottom: 2px solid rgba(105, 174, 178, 1);
}

#update {
    float: right;
    margin-right: 10%;
    font-size: 15px;
}

#project {
    float: right;
    margin-right: 10%;
    font-size: 15px;
}

#details {
   font-size: 15px;
}

#delete {
    float: right;
    margin-right: 10%;
    font-size: 15px;
}
/********************details page**********************/

#details-page {
    background-color: rgba(105, 174, 178, 1);
    font-family: "Roboto", helvetica, sans-serif;
    padding: 85px 0 0;
    margin: auto 0;
    font-size: 18px;
    height: 100%;
  }
  
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  #details-form {
    width: 50%;
    padding: 40px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
  }
  
  #details-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
  }
  
  input[type="text"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
  }
  
  button[type="submit"] {
    height: auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    background: darkslategray;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
  }

  #update {
    float: right;
    margin-right: 10%;
    font-size: 15px;
  }

  #delete {
    float: right;
    margin-right: 3%;
    font-size: 15px;
  }

  #notes {
    border: 4px solid rgba(105, 174, 178, 1);
    height: 20%;
    width: 40%;

  }



/******************update page*************************/

#update-page {
    background-color: rgba(105, 174, 178, 1);
    font-family: "Roboto", helvetica, sans-serif;
    padding: 85px 0 0;
    margin: 0;
    font-size: 18px;
    height: 100%;
  }
  
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  .update-form {
    width: 50%;
    padding: 40px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
  }
  
  .update-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
  }
  
  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
  }
  
  button[type="submit"] {
    height: auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: white;
    background: darkslategray;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
  }





/************media queries*************/

@media screen and (min-width: 768px) {
  .text-block {
    float: left;
    width: 33.3%;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    margin-right: -4px;
    border: 2px solid black;
  }
}
